@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=M+PLUS+1p:wght@500;700&display=swap");

    $color1: #242526 ;
    $color2:  #B78A1B ;

    * {
    scroll-behavior: smooth;
    }

    body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    }

    img {
    max-width: 100%;
    }

    h1 {
    color: $color1; 
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
    font-size: 50px;
    }

    h2 {
    color: $color2;
    font-size: 25px;
    font-weight: bold;
    }
    h3{
    font-size: 20px;
    }
    p {
    font-size: 18px;
    }

    a {
    text-decoration: none;
    list-style: none;
    }

    @media (max-width: 700px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
    }
    }

    /* HEADER - NAVBAR */
    .site-header {
    width: 100%;
    height: 155px;
    padding: 1rem 0 3rem 0;
    background-color: #BDA887;
    }

    #navbar {
    width: 100%;
    height: 155px;
    background-color: rgba(189, 168, 135, 0.7764705882);
    position: fixed;
    min-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    }

    .enlace {
    position: flex;
    padding: 10px 60px;
    }

    .nav-logo {
    height: 100px;
    }

    #navbar ul {
    float: right;
    list-style: none;
    margin: right 25px;
    }

    #navbar ul li {
    display: inline-block;
    line-height: 150px;
    margin: 0 25px;
    }

    #navbar ul li a {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 0 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 2s;
    }

    #navbar ul li a:hover {
    border-radius: 0 20px;
    color: #402E32;
    background-color: rgba(255, 248, 236, 0.9098039216);
    padding: 20px;
    font-weight: bold;
    }

    .active {
    margin: auto;
    color: #fff;
    background-color: #402E32;
    padding: 10px;
    }

    .checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 150px;
    margin-right: 60px;
    cursor: pointer;
    display: none;
    }

    #check {
    display: none;
    }

    /* NAVBAR VERSION (TABLET )*/
    @media (max-width: 950px) {
    .checkbtn {
        display: block;
    }
    .site-header {
        width: 100%;
        position: relative;
    }
    
    .enlace {
        display: block;
        padding: 1rem;
        padding-right: 5rem;
    }
    #navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #DFE0DF;
        line-height: 2;
        top: 155px;
        left: -100%;
        text-align: center;
        transition: all 0.4s;
    }
    #navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #navbar ul li a {
        font-size: 12px;
        border: 2px solid white;
        border-radius: 0 20px;
        background-color: #402E32;
        font-size: 16px;
    }
    #navbar ul li a:hover {
        background: #BDA887;
        color: #fefffe;
        padding: 20px;
    }
    .active:hover {
        background: none;
    }
    #check:checked ~ ul {
        left: 0;
    }
    }
    /* HEADER VERSION (MOBILE) */
    @media (max-width: 700px) {
    .checkbtn {
        display: block;
    }
    .site-header {
        width: 100%;
        position: relative;
    }
    .enlace {
        display: block;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 40px;
    }
    #navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #DFE0DF;
        line-height: 2;
        top: 155px;
        left: -100%;
        text-align: center;
        transition: all 0.4s;
    }
    #navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #navbar ul li a {
        font-size: 12px;
        border: 2px solid white;
        border-radius: 0 20px;
        background-color: #402E32;
    }
    #navbar ul li a:hover {
        background: #BDA887;
        color: #fefffe;
        padding: 20px;
    }
    .active:hover {
        background: none;
    }
    #check:checked ~ ul {
        left: 0;
    }
    }
    /*banner-inicio*/
    .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.701);
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/imagenes/coffe-03.jpg");
    }

    .banner-content {
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: rgba(45, 45, 45, 0.13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .banner-content .banner-titulo {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    font-size: 70px;
    text-align: center;
    color: #fff9f3;
    font-family: "M PLUS 1p", sans-serif;
    }

    .banner-content a {
    text-decoration: none;
    color: white;
    background-color: rgba(10, 7, 0, 0.8745098039);
    padding: 20px;
    border-radius: 45px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    }

    .banner-content a:hover {
    background-color: #FFF8EA;
    color: #402E32;
    }

    .cafe {
    color: #ff9c4a;
    font-size: 90px;
    border-radius: 5px;
    }
    @media screen and (max-width: 600px) {
    .banner-content .banner-titulo {
        font-size: 50px;
    }
    .cafe {
        font-size: 70px;
    }
    }

    /*  inicio */
    #inicio-consultas {
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
    }

    #inicio {
    max-width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    }

    #inicio .card {
    padding-top: 2rem;
    padding-bottom: 5rem;
    min-width: 40px;
    display: inline-flex;
    border: none;
    }

    #inicio .card .icon {
    padding-right: 5rem;
    text-decoration: none;
    font-size: 30px;
    width: 70px;
    height: 10px;
    line-height: 60px;
    text-align: center;
    color: #402E32;
    justify-content: space-around;
    }

    #inicio .card .content {
    padding-left: 50px;
    padding-bottom: 5px;
    }


    /* abaut */
    .sobre-nosotros {
    width: 70%;
    height: 70%;
    margin: auto;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
    }

    .sobre-nosotros h2 {
    text-align: center;
    padding-bottom: 3rem;
    }

    .sobre-nosotros img {
    display: flex;
    width: 100vh;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    }

    @media screen and (max-width: 600px) {
    .sobre-nosotros {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: justify;
    }
    .sobre-nosotros img {
        width: 50vh;
        height: 50vh;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    }

    /* shop-tienda */
    .shop-tienda {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    }

    .card-tienda {
    perspective: 1000%;
    height: 690px;
    width: 370px;
    position: relative;
    margin: 50px;
    background-color: #FFF8E6;
    border-radius: 10px;
    font-size: 18px;
    }

    .card-tienda img {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 1rem;
    }

    .card-tienda .icono {
    padding-right: 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #402E32;
    justify-content: space-around;
    }

    .card-tienda .back {
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 0.3s linear;
    }

    .card-tienda .front {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.3s linear;
    }

    .card-tienda:hover .back {
    transform: rotateY(-180deg);
    cursor: pointer;
    }

    .card-tienda:hover .front {
    transform: rotateY(0deg);
    cursor: pointer;
    }

    /* Blog */
    .dropdown {
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    }

    .btn {
    background-color: #402E32;
    color: #fff;
    font-weight: bold;
    font-size: 16x;
    }

    .dropdown-menu {
    font: size 15px;
    cursor: pointer;
    color: #242526;
    }

    .dropdown a:hover {
    background-color: #DFE0DF;
    color: #f38e29;
    font-weight: bold;
    }

    #carouselExampleInterval {
    padding-top: 5rem;
    padding-bottom: 3rem;
    }

    .blog {
    width: 100vh;
    margin: auto;
    }

    .blog-articulo {
    max-width: 100%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: justify;
    }

    .blog img {
    width: 100vh;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    }

    .blog a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(10, 7, 0, 0.8745098039);
    padding: 20px;
    border-radius: 45px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    }

    .blog a:hover {
    background-color: #f38e29;
    color: #fff;
    }

    @media screen and (max-width: 880px) {
    .blog {
        max-width: 100%;
        margin: auto;
    }
    .blog-articulo {
        width: 90%;
        margin: auto;
        text-align: justify;
    }
    .blog img {
        width: 100vh;
        margin: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    }
    /* galeria */
    .row {
    display: flex;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex: wrap;
    }

    .column {
    flex: 25%;
    padding: 5px;
    }

    .column img {
    margin-top: 5px;
    }

    .button-blog {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    }

    .button-blog a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(10, 7, 0, 0.8745098039);
    padding: 20px;
    border-radius: 45px;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    }

    .button-blog a:hover {
    background-color: #f38e29;
    color: #fff;
    }

    @media screen and (max-width: 800px) {
    .column {
        flex: 50%;
    }
    }
    @media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }
    }
    /* contacto-formulario */
    .form {
    position: relative;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 110px;
    }

    .form:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
    }

    .contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.221);
    }

    .left {
    background: url("../assets/imagenes/coffe-02.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    }

    .right {
    padding: 50px 70px;
    }

    .contactanos {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    }

    .contactanos:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    }

    .formulario {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    }

    .formulario:hover {
    background-color: rgba(0, 0, 0, 0.1);
    }

    textarea {
    min-height: 150px;
    }

    input[type=submit] {
    background-color: rgb(43, 31, 13);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    }

    input[type=submit]:hover {
    background-color: #f38e29;
    }

    .formulario:focus {
    border: 2px solid rgb(39, 27, 1);
    background-color: rgba(239, 239, 239, 0.619);
    }

    .form-buttons {
    max-width: 50%;
    margin: auto;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;
    list-style: none;
    justify-content: space-around;
    line-height: 50px;
    }

    .form-buttons a {
    color: #140d0e;
    }

    .contactanos:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    }

    .contacto-Map {
    max-width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    }

    /* @media contacto */
    @media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
    }
    @media screen and (max-width: 600px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
    }
    /* Footer buttons*/
    .buttons {
    padding-top: 20px;
    padding-bottom: 10px;
    min-width: 10px;
    display: flex;
    justify-content: space-around;
    }

    .buttons a {
    text-decoration: none;
    font-size: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #F49431;
    color: #f6f5f5;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    }

    .buttons a:hover {
    transform: scale(1.2);
    }

    /* NEWSLETTER-FOOTER */
    .form-newsletter {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    }

    .form-newsletter h3 {
    font-size: 40px;
    font-weight: bold;
    color: #402E32;
    }

    .form-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    }

    .form-newsletter form input[type=submit]:hover {
    display: block;
    background-color: #f38e29;
    }

    .form-newsletter form input:first-child {
    margin-bottom: 30px;
    max-width: 400px;
    background-color: #efe6ff;
    padding: 10px;
    width: 100%;
    }

    .form-newsletter form input:last-child {
    margin-bottom: 25px;
    background-color: #402E32;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    }
    @media screen and (max-width: 600px){
    .form-newsletter h3 {
        font-size: 30px;
    }
    .form-newsletter form input:first-child {
        max-width: 300px;  
    }
    .form-newsletter form input[type=submit]{
    font-size: 12px;
    }
    }

    /* Footer */
    footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #DFE0DF;
    color: #140d0e;
    }

    footer p {
    font-size: 20px;
    }

    footer > ul {
    padding: 1;
    }

    footer > ul li {
    display: flex;
    }

    footer > ul li:not(last-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    footer > ul li a {
    border-radius: 0 20px;
    color: #140d0e;
    text-decoration: none;
    }

    footer > ul li a:hover {
    transform: scale(1.2);
    color: #F49431;
    font-weight: bolder;
    }

    .copyrigt {
    font-size: 12px;
    text-align: center;
    }

    @media screen and (min-width: 880px) {
    footer {
        width: 100%;
        height: 100%;
        background-color: #DFE0DF;
        color: #140d0e;
    }
    footer p {
        font-size: 25px;
        text-align: center;
    }
    footer > ul {
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 5rem;
        grid-gap: 50px;
    }
    footer > ul li {
        width: 100%;
        height: 100%;
        display: flex;
    }
    footer > ul li:not(last-child) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }
    footer > ul li a {
        border-radius: 0 20px;
        color: #140d0e;
        text-decoration: none;
    }
    footer > ul li a:hover {
        transform: scale(1.2);
        color: #F49431;
        font-weight: bolder;
    }
    .copyrigt {
        font-size: 15px;
        text-align: center;
    }
    }