/* Tipografías*/
$font-Montserrat: 'Montserrat', sans-serif;
$font-m-plus-1p: "M PLUS 1p", sans-serif;


/*colors*/
$color-h1: #242526;
$color-h2: #B78A1B;
$color-white: #ffffff;
$color-darkbrown: #402E32;
$color-active:#fff;

/*background*/
$brown-cream: #BDA887;
$light-brown-cream: rgba(189, 168, 135, 0.7764705882);
$creamy-brown: rgba(255, 248, 236, 0.9098039216);
$lightgray: #DFE0DF; 
$lightwhite: #fefffe;
$cement-gray: rgba(128, 128, 128, 0.701);
$super-darkbrown:rgba(10, 7, 0, 0.8745098039);
$titulo-banner:#fff9f3;
$background-banner:rgba(45, 45, 45, 0.156);
$lightbeige:#FFF8EA; 
$titulo-cafe:#ff9c4a;
$card-color-tienda: #FFF8E6;
$deep-orange:#f38e29;
$extreme-brown: rgba(10, 7, 0, 0.8745098039);
$shadow-brown: rgba(0, 0, 0, 0.221);
$black:rgba(0, 0, 0, 0);
$gray:rgba(230, 230, 230, 0.6);
$brown: rgb(43, 31, 13);
$background-newsletter:#efe6ff;
$background-lightyellow:#fcf7e3;

/*Flex - shop-tienda*/

$dis: flex;
$wrap: wrap;
$just: center;
$align: center;





