.shop-tienda {
	max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.card-tienda {
	perspective: 1000%;
	height: 690px;
	width: 370px;
	position: relative;
	margin: 50px;
	background-color: $card-color-tienda;
	border-radius: 10px;
	font-size: 18px;
	img {
		width: 100%;
		border-radius: 5px;
		padding-bottom: 1rem;
	}
	.icono {
		padding-right: 1rem;
		text-decoration: none;
		font-size: 25px;
		color: $deep-orange;
		justify-content: space-around;
	}
	.back {
		position: absolute;
		transform: rotateY(0deg);
		backface-visibility: hidden;
		transition: transform 0.3s linear;
	}
	.front {
		position: absolute;
		transform: rotateY(180deg);
		backface-visibility: hidden;
		transition: transform 0.3s linear;
	}
	&:hover {
		.back {
			transform: rotateY(-180deg);
			cursor: pointer;
		}
		.front {
			transform: rotateY(0deg);
			cursor: pointer;
		}
	}
}
